#публичный адрес CONFIGURATION для других сервисов
CONFIGURATION_SERVICE_URL=http://i...m:7003

#production режим
ASPNETCORE_ENVIRONMENT=Production

#данные для пользователя minio
MINIO_ROOT_USER=m...n
MINIO_ROOT_PASSWORD=g...I

#данные для пользователя rabbitmq
RABBITMQ_DEFAULT_USER=r...q
RABBITMQ_DEFAULT_PASS=d...n

#данные для postgres
POSTGRES_USER=p...s
POSTGRES_PASSWORD=u...P
POSTGRES_DB=postgres

#данные чтобы CONFIGURATION мог подключиться к базе
CONFIGURATION_HOST=i...m:5432
CONFIGURATION_DATABASE=configuration
CONFIGURATION_USERNAME=p...s
CONFIGURATION_PASSWORD=u...P

#порты сервисов
BEACON_PORT=7002 #3
CONFIGURATION_PORT=7003 
FILES_PORT=7005 #5
FILES_HTTP1PORT=7006 #5
FASTAUTH_PORT=7008 #7
IDENTITY_PORT=7000 #1
MESSAGES_PORT=7007 #6
NOTIFICATION_PORT=7004 #4
USERS_PORT=7001 #2
UPDATES_PORT=7015 #8
MINIO_PORT=9000
MINIO_WEBPORT=9001
RABBITMQ_1PORT=5672
RABBITMQ_2PORT=15672
REDIS_PORT=6379
POSTGRES_PORT=5432