WEBSERVER_PORT=64641
TELEGRAM_BOT_TOKEN=...
USERS_SERVICE_HOST=https://users.barkfluff.com
USERS_SERVICE_TOKEN=...

CLIENTSTORAGE_PORT=7050
S3_ACCESS_KEY=...
S3_SECRET_KEY=...
S3_SERVICE_URL=...
S3_BUCKET_NAME=bfclient
S3_REGION=auto
REGISTRY_STORAGE_S3_CHUNKSIZE=104857600

UPLOAD_TOKEN=...

CACHE_DIR=/app/cache
PUBLIC_BASE_URL=https://storage.barkfluff.com

# Токен Cloudflare Tunnel (Zero Trust -> Networks -> Tunnels -> тот же тунель, что и в остальных стеках)
CLOUDFLARE_TUNNEL_TOKEN=...
