# Конфигурация для S3-совместимого хранилища, в котором registry будет хранить слои и манифесты образов.
S3_ENDPOINT=...

# Имя бакета, в который registry будет складывать слои и манифесты
S3_BUCKET=dockerreg

# Регион. Для AWS — реальный (us-east-1, eu-central-1...).
# Для большинства S3-совместимых подойдёт любое непустое значение (часто "us-east-1" или "ru-central1").
S3_REGION=auto

# Ключи доступа
S3_ACCESS_KEY=...
S3_SECRET_KEY=...
REGISTRY_HTTP_SECRET=...
