<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
  IgnorableNamespaces="uap rescap uap18">

  <Identity
    Name="7895OrbitinSpace.Barkfluff"
    Publisher="CN=C7C1D5F4-4314-43F7-8100-2B1FD4DA9DF6"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="b86bc027-8f34-493c-a875-5a03b5ce6ea9" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Barkfluff</DisplayName>
    <PublisherDisplayName>Orbit in Space</PublisherDisplayName>
    <Logo>Assets\dev\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$" uap18:TrustLevel="mediumIL" uap18:RuntimeBehavior="win32App">
      <uap:VisualElements
        DisplayName="Barkfluff"
        Description="BarkFluff — opensource мессенджер"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\dev\Square150x150Logo.png"
        Square44x44Logo="Assets\dev\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\dev\Wide310x150Logo.png"  ShortName="barkfluff" Square71x71Logo="Assets\dev\SmallTile.png" Square310x310Logo="Assets\dev\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\dev\SplashScreen.png" />
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\dev\BadgeLogo.png"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
